body {
	margin: 8vh 0;
	margin-left: 10vh;
	max-width: 856px;
	background-color: #EBD7C3;

	font-family: 'Montserrat';
	/*background-image: url('../imgs/jakub-dziubak-coffee-unsplash.jpg');*/
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 100vh;
	padding: 1em;
}

a {
	color: black;
	text-decoration: none;
}

.navbar {
	margin: 0;
	font-size: 1.5em;
}

.navbar-title {
	color: black;
	font-weight: 500;
	user-select: none;
}

.navbar-options {
	margin-top: 0.25em;
	user-select: none;
}

.navbar-option {
	font-size: 0.75em;
	font-family: 'Courier';
	font-weight: 300;
}

.navbar-option:hover:not(.active) {
	background-color: rgba(181, 116, 89, 0.5);
	/*color: white;*/
	transition: background-color 0.1s ease-out;
}

.active {
	background-color: #B57459;
}

.thoughts {
	margin-top: 2em;
	width: 80%;
}

.thought {
	cursor: pointer;
	display: inline-block;
	transition: transform .2s;
}

.thought:hover {
	transform: scale(1.02);
}

.thought-title {
	font-size: 1.5em;
}

.thought-pub-date {
	font-family: 'Courier';
}

@media only screen and (max-width: 800px) {
	body {
		margin-top: 1vh;
		margin-left: 0;
		background-image: none;
	}

	.thoughts {
		width: 100%;
	}

}







