body {
	margin: 8vh auto;
	max-width: 800;
	background-color: #EBD7C3;

	font-family: 'Montserrat';
	padding: 1em;
}

a {
	color: black;
	text-decoration: none;
}

.underline-a {
	color: #A53DEB;
}

.mathjax-block {
	margin: 1em;
}

.active {
	background-color: #B57459;
}

.thought-pub-date {
	font-family: 'Courier';
	margin-bottom: 1em;
}

.thought-paragraph {
	font-size: 1em;
	line-height: 1.75em;
	margin-bottom: 0.75em;
}

.back-container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.back-img {
	font-weight: 500;
	height: 1.5em;
	padding-right: 0.25em;
}

@media only screen and (max-width: 800px) {
	body {
		margin-top: 1vh;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.65em;
	}

	blockquote {
		font-size: 1.5em;
	}

	.thought-paragraph {
		font-size: 1.5em;
	}

}

blockquote {
	margin: 0;
	margin-bottom: 1em;
	padding: 10px;
	line-height: 1.75em;
	border-left: 3px solid #444;

}




